# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper (commit these files)
!mvnw
!mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Ignore only the unnecessary downloader file
.mvn/wrapper/maven-wrapperDownloader.java

# Logs
*.log

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

# Environment & config
.env

# OS specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup & temp files
*.swp
*~
*.tmp
*.bak
*.orig


