# Maven
target/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapperDownloader.java
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Environment & config
.env

# OS specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup & temp files
*.swp
*~
*.tmp
*.bak
*.orig


