<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <title>Music Store</title>
</head>

<body>

<header th:fragment="site-header" th:with="page=${page}" class="header">
    <div class="header-inner">
        <div class="logo-container">
            <a href="/" class="logo">
                <h1>Music Store</h1>
            </a>
        </div>
        <nav class="nav">
            <a th:href="@{/home}" th:classappend="${page == 'home'} ? ' active'" class="nav-link">Home</a>
            <a th:href="@{/catalog}" th:classappend="${page == 'catalog'} ? ' active'" class="nav-link">Catalog</a>
            <a th:href="@{/cart}" th:classappend="${page == 'cart'} ? ' active'" class="nav-link">Cart</a>
            <a th:href="@{/profile}" th:classappend="${page == 'profile'} ? ' active'" class="nav-link">Profile</a>
            <a th:href="@{/login}" class="button login">Login</a>
            <a th:href="@{/register}" class="button register">Register</a>
        </nav>
    </div>
</header>

</body>

</html>
