<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <title>Music Store</title>
</head>

<body>

<header th:fragment="site-header" th:with="page=${page}" class="header">
    <div class="header-inner">
        <div class="logo-container">
            <a href="/" class="logo">
                <h1>Music Store</h1>
            </a>
        </div>
        <nav class="nav">
            <a class="nav-link" th:href="@{/home}" th:classappend="${page == 'home'} ? ' active'">Home</a>
            <a class="nav-link" th:href="@{/catalog}" th:classappend="${page == 'catalog'} ? ' active'">Catalog</a>

            <a class="nav-link" th:href="@{/cart}" th:classappend="${page == 'cart'} ? ' active'"
               sec:authorize="isAuthenticated()">Shopping Cart</a>

            <a class="nav-link" th:href="@{/users/profile}" th:classappend="${page == 'profile'} ? ' active'"
               sec:authorize="isAuthenticated()">Profile</a>

            <a class="button login" th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
            <a class="button register" th:href="@{/register}" sec:authorize="isAnonymous()">Register</a>

            <a class="button login" href="/logout" sec:authorize="isAuthenticated()">Logout</a>
        </nav>
    </div>
</header>

</body>

</html>
